@font-face {
    font-family: "Acme Logo";
    src: url('../fonts/Acme-Logo.ttf') format("truetype");
}

@font-face {
    font-family: "Acme Regular";
    src: url('../fonts/KaushanScript-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url('../fonts/Montserrat-Bold.ttf') format("truetype");
}

@font-face {
    font-family: "Montserrat Regular";
    src: url('../fonts/Montserrat-Regular.ttf') format("truetype");
}
